<link rel="stylesheet" type="text/css" href="header.component.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap" rel="stylesheet">


<header>
<div class="principal">
    <nav>
        <h2 class="logo"><span>Company</span> Name</h2>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/items">Services</a></li>
            <li><a routerLink="/webdesigner">WebDesigner</a></li>

        </ul>
        <button type="button">Contact us</button>
    </nav>
</div>
</header>
