<link rel="stylesheet" type="text/css" href="footer.component.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<footer>
<div class="principal">
    <h3>Get Connected with us </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod,
        purus vel aliquam accumsan, risus justo sodales ante, et porttitor mi nisl 
        convallis odio. </p>

    <ul class="redeSociais">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
    </ul>
</div>
<div class="designCopyright">
    <p>copyright &copy;2022 CompanyName. designed by <span>Bruno Reis</span></p>
</div>

</footer>