<link rel="stylesheet" type="text/css" href="items.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<app-header></app-header>

<div class="main">

    <div class="card">

        <div class="front">
            
            <div class="icon"><i class="fa-sharp fa-solid fa-user"></i></div>
            <span>Lorem ipsum</span>
        </div>

        <div class="back">

            <span>Lorem ipsum</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
                ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
                 Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
                  massa mattis nec..</p>
        </div>

    </div>

    <div class="card">

        <div class="front">
            
            <div class="icon"><i class="fas fa-code"></i></div>
            <span>Lorem ipsum</span>
        </div>

        <div class="back">
            
            <span>Lorem ipsum</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
                ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
                 Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
                  massa mattis nec..</p>
        </div>

    </div>

    <div class="card">

        <div class="front">
            
            <div class="icon"><i class="fas fa-chart-line"></i></div>
            <span>Lorem ipsum</span>
        </div>

        <div class="back">
            
            <span>Lorem ipsum</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
                ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
                 Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
                  massa mattis nec..</p>
        </div>

    </div>

</div>

<h2 class="titleh2">Lorem Ipsum?</h2>

<div class="iconMain">
    <div class="textIconMain">

        <div class="iconText"><i class="fa-sharp fa-solid fa-folder"></i></div>
        <span>Lorem ipsum</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
        ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
         Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
          massa mattis nec..</p>

        <div class="iconText"><i class="fa-sharp fa-solid fa-user"></i></div>
        <span>Lorem ipsum</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
        ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
         Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
          massa mattis nec..</p>

        <div class="iconText"><i class="fa-sharp fa-solid fa-paperclip"></i></div>
        <span>Lorem ipsum</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
        ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
         Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
          massa mattis nec..</p>
    </div>

    <div class="textIconMain2">

        <div class="iconText2"><i class="fa-sharp fa-solid fa-car"></i></div>
        <span>Lorem ipsum</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
        ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
         Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
          massa mattis nec..</p>

        <div class="iconText2"><i class="fa-sharp fa-solid fa-bookmark"></i></div>
        <span>Lorem ipsum</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
        ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
         Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
          massa mattis nec..</p>

        <div class="iconText2"><i class="fa-sharp fa-solid fa-eye-slash"></i></div>
        <span>Lorem ipsum</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere mauris at 
        ipsum tincidunt, nec auctor dolor accumsan. Sed scelerisque id turpis a euismod.
         Donec rhoncus non risus vel malesuada. Nulla dictum lacus enim, eget tincidunt
          massa mattis nec..</p>
        
    </div>
</div>

<app-footer></app-footer>