* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    padding-top: 0px;
    display: flex;
    margin: left;
    align-items: center;
    justify-content: left;
    padding: 40px;
    margin-bottom: -130px;
}

.main p{
    max-width: 650px;
    font-size: 18px;
    font-family: Arial;
    text-align: justify;
    text-justify: inter-word;
}

.image{
    margin-left: 200px;
    width: 400px;
    height: 400px;
}

.title {
    margin-bottom: -130px;
    padding: 40px;
    padding-top: 200px;
    font-weight: 300;
    padding-bottom: 0px;
    font-weight: bold;

}

span{
    color: red;
    font-weight: bold;
}

button{
    width: 120px;
    height: 40px;
    margin-bottom: 200px;
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 40px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
