<link rel="stylesheet" type="text/css" href="home.component.css">


<!-- Usando a NavBar-->
<app-header></app-header>
<div class="main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare quam 
    in finibus malesuada. Pellentesque dapibus eget magna quis elementum. Nullam finibus 
    molestie aliquam. Proin ac porta turpis. Pellentesque vehicula nec arcu sit amet bibendum. 
    Ut ut nulla sagittis nisl mollis varius. Nunc tempor dui lectus, a pharetra elit ullamcorper 
    nec. Sed tincidunt aliquam ipsum sit amet bibendum. In ultrices vestibulum ipsum congue tempor. 
    Quisque egestas imperdiet velit id laoreet. Curabitur dictum, dui non molestie sagittis, est
    sapien pulvinar nibh, in consequat purus est vel leo.</p>
    
    <img class="imagesRight" src="../../assets/fotoMain1.webp" alt="fotoMain1">
</div> 

<div class="main">
    <img class="imagesLeft" src="../../assets/fotoMain2.png" alt="fotoMain1">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare quam 
    in finibus malesuada. Pellentesque dapibus eget magna quis elementum. Nullam finibus 
    molestie aliquam. Proin ac porta turpis. Pellentesque vehicula nec arcu sit amet bibendum. 
    Ut ut nulla sagittis nisl mollis varius. Nunc tempor dui lectus, a pharetra elit ullamcorper 
    nec. Sed tincidunt aliquam ipsum sit amet bibendum. In ultrices vestibulum ipsum congue tempor. 
    Quisque egestas imperdiet velit id laoreet. Curabitur dictum, dui non molestie sagittis, est
    sapien pulvinar nibh, in consequat purus est vel leo.</p>
    
</div> 


<!-- Usando o Footer-->
<app-footer></app-footer>